*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(100px, auto) repeat(5, 50px);
}

button {
    cursor: pointer;
    color: #EEEEEE;
    background-color: #444444;
    outline-color: none;
    border: 1px solid #000000;
    font-size: 1rem;
    font-family: sans-serif;
}

button:hover {
    background-color: #555555;
}

.double-size {
    grid-column: span 2;
}

.display {
    background-color: #222222;
    color: #EEEEEE;
    grid-column: 1 / -1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    word-wrap: break-word;
    word-break: break-word;
}

.previous-number {
    font-size: 1.5rem;
}

.current-number {
    font-size: 2rem;
}